# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

**/node_modules/


# C extensions
**/*.so

# Virtual environments
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/

# Installer logs
**/pip-log.txt
**/pip-delete-this-directory.txt

# Unit test / coverage reports
**/htmlcov/
**/.tox/
**/.nox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover
**/.hypothesis/
**/.pytest_cache/

# PyInstaller
**/*.manifest
**/*.spec

# Logs (applies to runtime and any other subdirectory)
**/runtime.log
**/execution.log
**/logs/

# Docker artifacts
**/*.tar
**/docker-compose*.yml

# IDE and editor folders
**/.vscode/
**/.idea/
**/*.sublime-project
**/*.sublime-workspace

# OS-specific files
**/.DS_Store
**/Thumbs.db

